*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#__nuxt,
#__layout,
#wrap {
  height: 100%;
}

html {
  word-spacing: 0.5px;
  box-sizing: border-box;
}

body {
  font-family: "sans-serif";
}

ol,
ul {
  list-style: none;
}